!!!!
%html
  %head
    %title Wishbone Admin
    %link{rel:'stylesheet', type:'text/css', href: asset_path('application.css')}
  %body
    %div
    %script{type:'text/javascript', src: asset_path('application.js')}

