%form.image-post-form{action: "/", method: "post"}
  %input{type:"hidden", name: "text",        value:""}
  %input{type:"hidden", name: "style_index", value:""}
  %input{type:"hidden", name: "image",       value:""}
  .image-post-text-wrapper
    .image-post-text
      %textarea{autofocus: true,  growing: "y", rows:"1",  wrap: "off", placeholder: "Your text here"}
  .image-post-options.clear-both
    %a.upload-image-button{href:""} Upload
    .pull-right
      %a.random-style-button{href:""} Random
  .image-post-publish-wrapper
    %input.publish-button{type: "submit", value: "Publish"}


.previews
  .image-preview
  .html-preview

