.image-post-form
  .image-post-text-wrapper
    .image-post-text
      %textarea{autofocus: true,  growing: "y", rows:"1",  wrap: "off"}

Lorem ipsum dolor sit ame
tempor incididunt ut labo
quis nostrud exercitation
consequat. Duis aute irur
cillum dolore eu fugiat n
proident, sunt in culpa q
