.image-post-form
  .image-post-text-wrapper
    .image-post-text
      %textarea{autofocus: true,  growing: "y", rows:"1",  wrap: "off"}
  .image-post-options.clear-both
    %a{href:""} Upload
    .pull-right
      %a{href:""} Random
  .image-post-publish-wrapper
    %a{href:""} Publish

