!!!
%html
  %head
    = yield_content :head
    %script{src: "http://code.jquery.com/jquery-1.11.0.min.js"}
    %link{rel: "stylesheet", href: stylesheet_path('application'), media: "all", type: "text/css"}
    %script{src: javascript_path('application')}

  %body
    .page
      .content= yield
