!!!
%html
  %head
    = yield_content :head
    %script{src: "http://code.jquery.com/jquery-1.11.0.min.js"}
    %link{rel: "stylesheet", href: stylesheet_path('application'), media: "all", type: "text/css"}
    %script{src: javascript_path('application')}

  %body
    .page
      - if signed_in?
        %textarea= current_user.inspect
        %img{src: current_user.twitter_client.user.profile_image_uri.to_s}
        %span Welcome back #{current_user.name}
      - else
        %a{href: '/oauth/request_token'} Sign in with twitter
      .content= yield

