- content_for :head do
  %meta{:name => "twitter:card",      :content => "photo"}/
  %meta{:name => "twitter:site",      :content => "@twitter_site"}/
  %meta{:name => "twitter:creator",   :content => "@twitter_creator"}/
  %meta{:name => "twitter:title",     :content => @post.text}/
  %meta{:name => "twitter:image:src", :content => @post.image_url}/
  %meta{:name => "twitter:domain",    :content => request.host}/

.image-post-wrapper
  .image-post{style: style_for_post(@post)}
    .text-wrapper
      .text<>
        ~ preserve do
          :escaped
            #{@post.text}
