- content_for :head do
  %meta{:name => "twitter:card",         :content => "photo"}/
  %meta{:name => "twitter:site",         :content => "@ImagePostApp"}/
  %meta{:name => "twitter:creator",      :content => ""}/
  %meta{:name => "twitter:title",        :content => @post.title}/
  %meta{:name => "twitter:image:src",    :content => @post.image_url}/
  %meta{:name => "twitter:domain",       :content => request.host}/
  %meta{:name => "twitter:url",          :content => request.url}/
  %meta{:name => "twitter:image:width",  :content => "510"}/
  %meta{:name => "twitter:image:height", :content => "510"}/

.image-post-wrapper
  .image-post{style: style_for_post(@post)}
    .text-wrapper
      .text<>
        ~ preserve do
          :escaped
            #{@post.text}

%a.twitter-share-button{"data-size" => "large", "data-text" => @post.title, :href => "https://twitter.com/share"} Tweet
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


%form{method: "post", action: "/#{@post.uuid}/tweet"}
  %input{type:"submit", value: "tweet"}
