@import compass
@import compass/css3
@import compass/css3/user-interface
@import mixins
@import normalize


.page
  +display-flex
  +flex-wrap(nowrap)
  +justify-content(center)



.ImagePost

.ImagePostTextInput
  display: block
  border: 1px solid black
  overflow: hidden
  > textarea
    height: 999em
    width: 999em

.ImagePostRendering
  display: block
  border: 1px solid black
