@import compass
@import compass/css3
@import compass/css3/user-interface
@import mixins
@import normalize


.page
  +display-flex
  +flex-wrap(nowrap)
  +justify-content(center)



.ImagePost

.ImagePostTextarea
  display: block
  border: 1px solid black

.ImagePostRendering
  display: block
  border: 1px solid black
